APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PLATFORM=com.prmsu.docustat
APPWRITE_PROJECT=id
DATABASE_PRIMARY=id
COLLECTION_CREDENTIAL=id
COLLECTION_USER=id
COLLECTION_REQUEST=id
COLLECTION_NOTIFICATION=id

COLLECTION_STUDENT_INFO=id
COLLECTION_ADMIN_INFO=id
COLLECTION_ALUMNI_INFO=id